@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Meus Caminhões App</h1>
    <p>Seja Bem-Vindo(a) ao Meus Caminhões App!</p>
    <p>Use o menu do topo para criar e listar os seus caminhões</p>
</div>